.banner{
    background: linear-gradient(181.06deg, rgba(0, 0, 0, 0.2) 0.91%, rgba(255, 255, 255, 0) 116.71%, rgba(255, 255, 255, 0) 116.72%), url('./background.png'), #C4C4C4;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.banner h2{
    font-weight: 200;
    letter-spacing: 3px;
}
.banner h1{
    font-size: 10rem;
}

.navbar{
    position: absolute;
    width: 100%;
}
.nav{
    display: grid;
    grid-template-columns: 30% 50%;
    padding: 2rem;
}
.nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-list li, .sidebar li{
    list-style: none;
}
.nav-list li a, .sidebar li a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.hamburger{
    display: none;
}
.sidebar{
    display: none;
}
.socials{
    left: 2%;
    padding: 5px;
}
.socials, .location{
    position: absolute;
}
.socials div{
    margin-bottom: 20px;
    cursor: pointer;
}
.location{
    bottom: 5%;
    width: 50%;
    display: flex;
    align-items: center;
}
.location div{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 5px;
    padding: 1rem;
    margin: 10px;
    flex: 1;
    font-weight: bold;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.activities, .philosophy, .h-a{
    padding: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.activities{
    margin-top: 50px;
}
.activities h1, .philosophy h1{
    margin-bottom: 50px;
}
.activities h3, .philosophy h3{
    font-size: 0.7rem;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
.activities div{
    width: 80%;
    margin: auto;
    position: relative;
    height: 40vh;
}
.activities div img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.activities div p, .activities div span{
    color: #fff;
}
.activities div p{
    margin-bottom: 5px;
    font-weight: bold;
}
.activities div span{
    font-size: 10px;
}
.activity{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-start;
    padding: 20px;
}
.philosophy{
    margin-top: 100px;
}
.about-us{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
}
.about-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    
}
.about-desc div{
    margin-left: 100px;
}
.about-desc div p{
    width: 50%;
}
.about-img{
    width: 70%;
    margin-left: auto;
}
.about-img img{
    width: 100%;
}
.num1::before, .num2::before, .num3::before{
    position: absolute;
    left: 52%;
    color: #9B9B9B;
}
.num1::before{
    content: '01';
}
.num2::before{
    content: '02';
}
.num3::before{
    content: '03';
}
.h-a{
    padding: 1rem;
}
.h-a-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
    flex-wrap: wrap;
}
.places{
    width: 500px;
    height: 300px;
    padding: 1rem;
}
.places img{
    width: 100%;
    height: 100%;
}
.place-name{
    text-align: justify;
    padding: 10px;
}
.place-name > div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.rating{
    margin-left: 20px;
    color: gold;
}
@media screen and (max-width: 1024px) {
    .nav{
        grid-template-columns: 30% 70%;
        padding: 1.5rem;
    }
    .banner h1{
        font-size: 8rem;
    }
    .location{
        width: 100%;
    }
    .activities div{
        width: 90%;
    }
    .about-us{
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
    }
    .about-us div{
        margin-bottom: 30px;
    }
    .about-desc div{
        text-align: center;
        margin: auto;
        margin-bottom: 30px;
    }
    .about-desc div p{
        width: 100%;
    }
    .about-img{
        margin: auto;
    }
    .num1::before, .num2::before, .num3::before{
        left: 35%;
    }
    .places{
        height: auto;
    }
}
@media screen and (max-width: 600px) {
    .nav{
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
    }
    .banner{
        width: 100%;
    }
    .nav-list{
        display: none;
    }
    .logo{
        justify-content: start;
    }
    .hamburger{
        display: inline;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    .ham, .cross{
        width: 30px;
        height: 3px;
        background: #fff;
        border-radius: 10px;
    }
    .ham::before, .ham::after, .cross::before, .cross::after{
        content: '';
        height: 3px;
        background: #fff;
        position: absolute;
        border-radius: 10px;
    }
    .ham::before{
        width: 35px;
        transform: translateY(-6px);
    }
    .ham::after{
        width: 25px;
        transform: translateY(6px);
    }
    .sidebar{
        display: block;
        position: absolute;
        padding: 2rem;
        background: #287287;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        transition: 0.2s ease all;
        z-index: 1;
    }
    .sidebar.active{
        left: 0;
        transition: 0.2s ease all;
    }
    .side-items{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .crossbar{
        position: relative;
    }
    .cross{
        position: absolute;
        right: 0;
        background: transparent;
    }
    .cross::before, .cross::after{
        width: 30px;
    }
    .cross::before{
        transform: rotate(45deg);
    }
    .cross::after{
        transform: rotate(-45deg);
    }
    .hamburger, .crossbar{
        cursor: pointer;
    }
    .banner h1{
        font-size: 4rem;
    }
    .socials{
        left: 2%;
        bottom: 0;
    }
    .location{
        display: block;
        width: 60%;
    }
    .about-img{
        width: 100%;
    }
    .about-img img{
        width: 100%;
    }
    .about-desc div p{
        font-size: 11px;
    }
    .num1::before, .num2::before, .num3::before{
        left: 20%;
    }
}
@media screen and (width: 280px) {
    .banner h1{
        font-size: 3rem;
    }
    .location{
        width: 70%;
    }
    .num1::before, .num2::before, .num3::before{
        left: 10%;
    }
}